@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #050505;
    color: #e5e5e5;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}